$black: #111;
$white: #FFF;

$white-gradient: linear-gradient(315deg, #F5F7FA, #B8C6DB);
$red-gradient: linear-gradient(315deg, #FF0058, #FFBC00);
$blue-gradient: linear-gradient(315deg, #03A9F4, #FF0058);
$green-gradient: linear-gradient(315deg, #4DFF03, #00D0FF);
$yellow-gradient: linear-gradient(315deg, #E27C39, #E3FF73);
$purple-gradient: linear-gradient(315deg, #9600FF, #AEBAF8);
$pink-gradient: linear-gradient(315deg, #E61D8C, #C7E9FB);